section.FirstSection{
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100vh;
  position: absolute !important ;
  top: 0;
  right: 0;
  height: 100hv;
  width: 100%;
  z-index: -1 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}
.swiper-slide video {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.FirstSection .SearchContianer{

  padding: 30px 50px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.37);
  max-width: 920px;

  margin: 20rem auto 0;
}

.custom-select {
  position: relative;
  /* width: 200px; */
  /* margin-left: 10px; */
}

.select-selected {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.Disabled{
  background-color: #f0f0f0cc;
  border: 1px solid #f0f0f0cc;
  cursor: not-allowed;
}
.select-items {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;

  width: calc(100% - 24px);
  z-index: 99;

}

.select-items div {
  padding: 10px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #e0e0e0;
}

.select-hide {
  display: none;
}


section.FirstSection div.SearchContianer button.FadeInAnimation {
  position: relative;
  z-index: 21;
  padding: 10px 5px;
  color: #183153;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
section.FirstSection div.SearchContianer .TitleSearch{
  text-align: center;
  color: white;
  margin-bottom:3rem;
}

section.FirstSection div.SearchContianer button.FadeInAnimation:hover{
  color: #e5eaee;
}
section.FirstSection div.SearchContianer button.FadeInAnimation:after{
  content: '';
  background-color: var(--mainColor);
  position: absolute;
  border-radius: 6px;
  z-index: -1;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
section.FirstSection div.SearchContianer button.FadeInAnimation:hover::after{
  width: 100%;
  right: auto;
  left: 0;

}
button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
section.AboutUsSection{
  margin-top: 5rem;
}

section.AboutUsSection .AboutusImage img{
  width: 90%;
  height: 90%;
}
section.AboutUsSection .AboutusInfo .SectionTitle h6{
  font-weight: 600;
  color: var(--mainColor);
  font-family: 'Cairo', sans-serif;
  margin-bottom: 1rem;
}
section.AboutUsSection .AboutusInfo  .LinkTitle a{
  color:#071c1f;
  transition: all 0.3s ease-in-out;

}
section.AboutUsSection .AboutusInfo  .LinkTitle h1{
  margin-bottom: 1rem;
  font-size: calc(1.375rem + 1.5vw);
}
section.AboutUsSection .AboutusInfo  .LinkTitle a:hover{
  color: var(--mainColor);

}
section.AboutUsSection .AboutusInfo  .LinkTitle p{
  max-width: 500px;
  color:#5c727d;
}
section.AboutUsSection .AboutusInfo .cardItem{
    padding: 40px 25px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
}
section.AboutUsSection .AboutusInfo .cardItem3{
    padding: 25px 22px 1px;
    display: flex;
    transition: all 0.3s ease 0s;
    border: 2px solid;
    border-color: #f4faff;
    margin-bottom: 20px;
    position: relative;
}
section.AboutUsSection .AboutusInfo .cardItem3:hover{
  box-shadow:0 16px 32px 0 rgba(7, 28, 31, 0.1) ;
}
.cardItem3::before {
  position: absolute;
  content: "";
  right: -2px;
  top: 50%;
  width: 4px;
  height: 0%;
  background-color: var(--mainColor);
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
}
.cardItem3:hover::before {
  height: 80%;
  opacity: 1;
  visibility: visible;
}
section.AboutUsSection .AboutusInfo .cardItem3 .CardIcon{
  margin: 0px 0 0 20px;
  font-size: 50px;
  color: var(--mainColor);
  line-height: 1.5;
}
section.AboutUsSection .AboutusInfo .cardItem3 .CardIcon i{
  font-size: 50px;
  color: var(--mainColor);
}
section.AboutUsSection .AboutusInfo .cardItem3 .CardBody h4{
  font-size: calc(1.275rem + .3vw);
  color:#071c1f
}
section.AboutUsSection .AboutusInfo .cardItem3 .CardBody p{
  color:#5c727d;
  transition: all 0.3s ease-in-out;
}
section.AboutUsSection .AboutusInfo .cardItem3:hover .CardBody p{
  color: var(--mainColor);
}
section.ProjectArea {
  margin-bottom: 6rem;
}
section.ProjectArea .TabMenu .nav{
  display: inline-block;
}
section.ProjectArea .TabMenu{
  margin-bottom: 50px;
  text-align: center;
}
section.ProjectArea .TabMenu a{
  position: relative;
  display: inline-block;
    padding: 15px 40px;
    margin-left: 5px;
    margin-bottom: 10px;
    color:#071c1f;
    background-color: #f2f6f7;
    font-weight: 700;
    box-shadow: none;
}
section.ProjectArea .TabMenu a.active{
  color:white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
section.ProjectArea .TabMenu  a:hover {
  color: white;
}

.tab-content {
  width: 100%;
}
.tab-content .tab-pane {
  display: block;
  height: 0;
  max-width: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
.tab-content .tab-pane.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}


.blog-item-3 {
  margin-bottom: 50px;
}
.ltn__blog-item {
  position: relative;
  margin-bottom: 30px;
}
.blog-item-3 .blog-img {
  overflow: hidden;
}

.blog-img {
  position: relative;
}
.blog-img img{
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}
.blog-item-3:hover .blog-img img {

  transform: scale(1.1);
}
.blog-brief{
  padding: 30px 30px 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
}
.blog-brief h3{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  color:#071c1f;

}
.blog-brief h3 a{
  color:#5c727d;
  transition: all 0.3s ease 0s;
}
.blog-brief h3:hover a{
  color: var(--mainColor);
}
.blog-meta-btn{
  border-top: 1px solid;
    border-color: #e5eaee;
    padding-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.blog-btn a{
  font-size: 14px;
    font-weight: 600;
    color: var(--mainColor);
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
iframe{
  aspect-ratio: 16 / 9;
    width: 100%;

}

section.Numbers{
  text-align: center;
  margin-top: 7rem;
  color: var(--mainColor);
}


section.Numbers .NumberText{
  font-size: 32px;
  font-weight: bolder;
  user-select: none;
}
section.Numbers .Text{
  font-size: 26px;
  font-weight: bolder;
  text-wrap: nowrap;
  user-select: none;
}
section.ProductArea .TitleProductAraa{
  margin-bottom: 50px;
}
.SubTitleProductAraa {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  position: relative;
  font-weight: 600;
  font-family: 'Cairo', sans-serif;
  color: #d61c23;
}
.SubTitleProductAraa::before {
  position: absolute;
  content: "";
  background-color: #d61c23;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 25px;
  opacity: 0.1;
}
.section-title{
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  color: #071c1f;
  clear: both;
  font-family: 'Cairo', sans-serif;
  margin-bottom: 15px;
}



.list-item{
  margin-bottom: 1rem;
}
.list-item li {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  max-width: 160px;
  font-size: 14px;
}
.list-item li:not(:nth-last-child(1))::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
}
.list-item li span {
  display: block;
  font-weight: 700;
}
.list-item li:last-child {
  margin-left: 0;
}
section.DiscoverArea{
  position: relative;
}
section.DiscoverArea::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  right: 0;
  bottom: 0;
  background-color: #171b2a;
}
section.DiscoverArea .DiscverBody{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    background-color: var(--mainColor);
}
section.DiscoverArea .DiscverBody .DiscverBodyInfo{
  color: white;
}
.btn-white {
  display: inline-block;
  position: relative;
  background-color:white;
  color: #000000;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  text-wrap: nowrap;
}
.btn-white:hover{
  color: #ffffff;
}
.btn-effect-3:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  transition: all 0.3s;
  background-color: #000000;
}
.btn-effect-3:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
@media (max-width:800px) {
  .DiscverBody{
    flex-direction: column;

  }
}