

.blog-img {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}
.blog-img img {
  width: 100%;
  height: 100%;
}

.WhyusContent{
  margin-top: 10rem;
} 
.WhyusContent img{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}